[{:db/id #db/id[:db.part/db]
  :db/ident :firm/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A client's name."
  :db.install/_attribute :db.part/db
  :db/index true}

 {:db/id #db/id[:db.part/db]
  :db/ident :client/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A firm's name."
  :db.install/_attribute :db.part/db
  :db/index true}

 {:db/id #db/id[:db.part/db]
  :db/ident :data/document-id
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Id of a document."
  :db.install/_attribute :db.part/db
  :db/index true}

 {:db/id #db/id[:db.part/db]
  :db/ident :data/source
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "Where the data came from."
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/user]
  :db/ident :data.source/sopr-html}

 {:db/id #db/id[:db.part/db]
  :db/ident :being/type
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "A being's type."
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :being/represents
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "A being is represented by a record."
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/user]
  :db/ident :being.type/:firm}
 {:db/id #db/id[:db.part/user]
  :db/ident :being.type/:client}
 {:db/id #db/id[:db.part/user]
  :db/ident :being.type/:being}]
